.chart{

    background: var(--white);

    padding: 25px;

    border-radius: 16px;

    box-shadow: 0 10px 25px rgba(0,0,0,.08);

}


.chart h3{

    color: var(--text-color);

    margin-bottom: 20px;

    font-size: 1.2rem;

}