.card{

    background: var(--white);

    padding: 25px;

    border-radius: 16px;

    box-shadow: 0 10px 25px rgba(0,0,0,.08);

}


.card h3{

    color: var(--text-muted);

    margin-bottom: 15px;

}


.card strong{

    display: block;

    font-size: 2rem;

    color: var(--primary-color);

    margin-bottom: 10px;

}


.card span{

    color: var(--text-muted);

}