.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 35px;

    background: var(--white);

    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.header h1{
    color: var(--text-color);
}

.header span{
    color: var(--text-muted);
}